
src/3pi_app/3pi_app/Debug/*
src/GccApplication4/GccApplication4/Debug/*
*.o
*.o
src/GccApplication4/GccApplication4/Debug/main.d
src/GccApplication4/GccApplication4/Debug/GccApplication4.srec
src/GccApplication4/GccApplication4/Debug/GccApplication4.map
src/GccApplication4/GccApplication4/Debug/GccApplication4.lss
src/GccApplication4/GccApplication4/Debug/GccApplication4.hex
src/GccApplication4/GccApplication4/Debug/GccApplication4.elf
src/GccApplication4/.vs/GccApplication4/v14/.atsuo
src/3pi_app/.vs/3pi_app/v14/.atsuo
src/GccApplication4/GccApplication4/Debug/Makefile
src/GccApplication4/GccApplication4/Debug/Makefile
